<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
</head>
<body>
    <h1>User page # {{stuff.id}}</h1>
    <a href="/logout">logout</a><br>
    <a href="/quotes">Dashboard</a>
    <h1>Alias: {{stuff.alias}}</h1>
    <p>Name: {{stuff.name}}</p>
    <p>Email: {{stuff.email}}</p>
    <p>Birthday: {{stuff.birthday}}</p>
    <br><br>

    <h1>Posts: {{tot}}</h1>
    {%for i in quotes%}
        <h3>
            <span style="color:red">{{i.quoted_by}}: </span>
            {{i.message}}
        </h3>
    {%endfor%}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {%if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    {%endif%}
    </ul>
</body>
</html>